{{- $choices := list "mac" "surface-go-3" "other" -}}
{{- $machine := promptChoiceOnce . "machine" "Machine type for this Omarchy install" $choices -}}
{{- $is_laptop := promptBool "Is this a laptop?" -}}
{{- $gpu := promptString "GPU type (amd/nvidia/intel)" -}}

[data]
    machine_type = {{ $machine | quote }}
    is_laptop    = {{ $is_laptop }}
    gpu          = {{ $gpu | quote }}
