#!/bin/bash

# Install visual studio code
if which "code"; then
  echo "VS Code is already installed"
else
  echo "Installing VS Code"
  omarchy-launch-floating-terminal-with-presentation omarchy-install-vscode
fi